<h1>Détails du Catway</h1>
<ul>
    <li>
        <strong>Numéro Catway:</strong> {{catway.catwayNumber}}, 
        <strong>Type :</strong> {{catway.type}},
        <strong>Statut :</strong> {{catway.catwayState}}
    </li>
</ul>

