<h1>Liste des Catways</h1>
<ul>
    {{#each catways}}
    <li>
        <strong>Numéro Catway:</strong> {{this.catwayNumber}}, <strong>Type :</strong> {{this.type}},
        <strong>Statut :</strong> {{this.catwayState}}
    </li>
    {{/each}}
</ul>

